In [1]:
import numpy as np
import pandas as pd

In [2]:
# Pandas读取文件
"""
读取前需要先准本好数据集，读取文件是做数据分析的第一步
read_csv():用于读取文本文件
read_excel(): 用于读取文本文件
read_json(): 用于读取json文件
read_sql_query():读取 sql语句的

通用流程：
     1.导入库： import pandas as pd
     2.找到文件所在位置（绝对路径 = 全称）（相对路径 = 和程序在同一个文件夹中的路径的简称）
     3.变量名 = pd.读写操作方法（文件路径，具体的筛选条件.....）
        
    
"""

'\n读取前需要先准本好数据集，读取文件是做数据分析的第一步\nread_csv():用于读取文本文件\nread_excel(): 用于读取文本文件\nread_json(): 用于读取json文件\nread_sql_query():读取 sql语句的\n\n通用流程：\n     1.导入库： import pandas as pd\n     2.找到文件所在位置（绝对路径 = 全称）（相对路径 = 和程序在同一个文件夹中的路径的简称）\n     3.变量名 = pd.读写操作方法（文件路径，具体的筛选条件.....）\n        \n    \n'

In [60]:
# 读取csv文件
# 1.绝对路径
a = pd.read_csv(r'E:\\my_csv.csv')# r表示不进行转意
a

# 2.相对路径
# a = pd.read_csv('../my_csv.csv')
# a

   col1 col2  col3    col4      col5
0     2    a   1.4   apple  2022/1/1
1     3    b   3.4  banana  2022/1/2
2     6    c   2.5  orange  2022/1/5
3     5    d   3.2   grape  2022/1/7

In [21]:
import os
os.getcwd()#  查看当前位置

'E:\\大二上学期内容\\hmd\\数据分析\\课堂笔记：数据分析\\3.pandas 内容\\第二周\\星期五'

In [77]:
# 绝对路径这四种方法都可以
# b = pd.read_csv(r'E:\students1.csv',encoding='gbk')# r表示不进行转意
# b = pd.read_csv('E:\\students1.csv',encoding='gbk')
# b = pd.read_csv(r'\students1.csv',encoding='gbk')
# b = pd.read_csv('E:/students1.csv',encoding='gbk')
print(b)
b

   id name address gender    birthday
0   1  蔡梦丹     地球村      女   2004/11/2
1   2  杨萌渝     月亮星      女    2003/8/7
2   3  何晶晶     艾尔星      女   2004/11/2
3   4   张怡     克哈星      男  2003/10/11
4   5  郭志阳     查尔星      男   2002/6/12
5   6  马成功    塔桑尼斯      男   2002/2/12

   id name address gender    birthday
0   1  蔡梦丹     地球村      女   2004/11/2
1   2  杨萌渝     月亮星      女    2003/8/7
2   3  何晶晶     艾尔星      女   2004/11/2
3   4   张怡     克哈星      男  2003/10/11
4   5  郭志阳     查尔星      男   2002/6/12
5   6  马成功    塔桑尼斯      男   2002/2/12

In [61]:
# 一.基本参数
# 1.
# f = open(r'E:/students1.csv',encoding='gbk')
f

In [65]:
# 2.sep:读取csv文件时指定的分割符，默认为逗号‘，’
d = pd.read_csv(r'E:\panda\students_step1.csv',encoding='gbk',sep='|')
# 指定编码和分割符，默认为逗号‘，’
d

   id name address gender    birthday
0   1  蔡梦丹     地球村      女   2004/11/2
1   2  杨萌渝     月亮星      女    2003/8/7
2   3  何晶晶     艾尔星      女   2004/11/2
3   4   张怡     克哈星      男  2003/10/11
4   5  田海涛     查尔星      男   2002/6/12
5   6  马成功    塔桑尼斯      男   2002/2/12

In [80]:
# 3.delim_whitespace:默认为False
d = pd.read_csv('E:\panda\students_whitespace.txt')# 原文件
print(d)
print('##################################')
df = pd.read_csv('E:\panda\students_whitespace.txt',sep=' ')  # 以空格分隔符
df
print(df)
print('-----------------------------')
df = pd.read_csv('E:\panda\students_whitespace.txt',delim_whitespace=True)
# d
print(df)

  id name address gender birthday
0            1 张三 地球村 女 2004/11/2
1            2 李四\t月亮星 女 2003/8/7
2            3 王五 艾尔星 女 2004/11/2
3           4 赵六 克哈星 男 2003/10/11
4           5 小明\t查尔星 男 2002/6/12
5          6 小花\t塔桑尼斯 男 2002/2/12
##################################
   id      name address     gender    birthday
0   1        张三     地球村          女   2004/11/2
1   2   李四\t月亮星       女   2003/8/7         NaN
2   3        王五     艾尔星          女   2004/11/2
3   4        赵六     克哈星          男  2003/10/11
4   5   小明\t查尔星       男  2002/6/12         NaN
5   6  小花\t塔桑尼斯       男  2002/2/12         NaN
-----------------------------
   id name address gender    birthday
0   1   张三     地球村      女   2004/11/2
1   2   李四     月亮星      女    2003/8/7
2   3   王五     艾尔星      女   2004/11/2
3   4   赵六     克哈星      男  2003/10/11
4   5   小明     查尔星      男   2002/6/12
5   6   小花    塔桑尼斯      男   2002/2/12