In [1]:
import numpy as np
import pandas as pd

In [4]:
"""
行操作：
     loc：使用的是标签
     iloc：使用的是位置标签
注意：  两者不可混用，也不可以相反使用
"""

# 1.标签选取   ----借助loc属性完成：按标签或布尔数组访问一组行和列

d = {'one':pd.Series([1,2,3,4],index=['a','b','c','d']),
    'two':pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])}
df = pd.DataFrame(d)
print(df)
print('**************************')
print(df.loc['a'])# 序列  答应出来a的这一行和a的数据类型

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  NaN    5
**************************
one    1.0
two    1.0
Name: a, dtype: float64

In [5]:
# 注意：loc允许接受两个参数分别是行和列
# loc[]:允许接受两个参数
df.loc['a','one']  # 要的是a和one列数据

1.0

In [7]:
# 行和列还可以使用切片，列不可以使用切片
df.loc['a':'c','two']# 从a开始到c结束

a    1
b    2
c    3
Name: two, dtype: int64

In [13]:
# 两行两列
df.loc[['b','d'],['one','two']]   # loc参数

   one  two
b  2.0    2
d  4.0    4

In [23]:
# 2.数值型索引和切片  ----使用iloc属性
# 直接使用索引，会优先查找列标签，找不到报错，列没有位置索引
# iloc：行基于整数位置的按位置选择索引

d = {'one':pd.Series([1,2,3,4],index=['a','b','c','d']),
    'two':pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])}
df = pd.DataFrame(d)
print(df)
print('**************************')
# 位置索引
df.iloc[2]

# 第一行和最后一行数据
# 两者任选一个写
df.iloc[[0,3]]
df.iloc[[0,-1]]# 最后一行可以用-1
print('!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')

# iloc可以使用行索引的位置和列索引的位置（都是从零开始）
df.iloc[3,0]  # 3：是d的索引位置，0：是d行中的nan的位置

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  NaN    5
**************************
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

4.0

In [28]:
# 3.切片操作多行选取     -----可以直接使用数值型切片操作行和使用iloc同样的结果
d = {'one':pd.Series([1,2,3,4],index=['a','b','c','d']),  # index指定行标签
    'two':pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])}
df = pd.DataFrame(d)
print(df)
print('***************************')
print(df.iloc[2])
print('------------------------')
# 这两个是一样的
print(df.iloc[1:3])  # 使用iloc属性
print('--------------------------------')
df[1:3]   # 直接使用数值切片操作

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  NaN    5
***************************
one    3.0
two    3.0
Name: c, dtype: float64
------------------------
   one  two
b  2.0    2
c  3.0    3
--------------------------------

   one  two
b  2.0    2
c  3.0    3

In [58]:
# 练习
# 取得第3行的数据
# 取得age列的数据
# 取得age列和Salary列的数据
# 取得前3行的数据
# 取得前3行Name\Age\Salary的数据
# 取得第1和第3行，列Age和Salary的数据
data = {
    'Name':['关羽','刘备','张飞','曹操'],
    'Age':[28,34,29,42],
    "Salary":[5000,8000,4500,10000],
    "hobby":["python","jave","go","JaveScript"]
}
# 定义行标签
index = ["rank1","rank2","rank3","rank4"]
# 通过字典创建DataFrames
df = pd.DataFrame(data,index=index)
df
print(df)

      Name  Age  Salary       hobby
rank1   关羽   28    5000      python
rank2   刘备   34    8000        jave
rank3   张飞   29    4500          go
rank4   曹操   42   10000  JaveScript

In [56]:
#  取得前3行的数据
print(df.iloc[0:3])

      Name  Age  Salary   hobby
rank1   关羽   28    5000  python
rank2   刘备   34    8000    jave
rank3   张飞   29    4500      go

In [57]:
# 取得第3行的数据
df.loc[['rank3']]

      Name  Age  Salary hobby
rank3   张飞   29    4500    go

In [59]:
# 取得age列的数据
print(df['Age'])

rank1    28
rank2    34
rank3    29
rank4    42
Name: Age, dtype: int64

In [60]:
# 取得age列和Salary列的数据
print(df[['Age','Salary']])

       Age  Salary
rank1   28    5000
rank2   34    8000
rank3   29    4500
rank4   42   10000

In [61]:
# 取得前3行Name\Age\Salary的数据
df.loc['rank1':'rank3',['Name','Age','Salary']]  #先行后列，都包含

      Name  Age  Salary
rank1   关羽   28    5000
rank2   刘备   34    8000
rank3   张飞   29    4500

In [62]:
# 取得第1和第3行，列Age和Salary的数据
df.loc['rank1':'rank3',['Age','Salary']]  # 先行后列都包含

       Age  Salary
rank1   28    5000
rank2   34    8000
rank3   29    4500